<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read</title>
</head>
<body>

<div>
    <a th:href="@{/books}">Back to Book List</a>
    <p th:text="${texts}"></p>
</div>

<div>
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/books/{bookId}/read?page={prev}(bookId=${book.id},prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/books/{bookId}/read?page={next}(bookId=${book.id},next=${next})}">Next</a></span>
    </nobr>
</div>

</body>
</html>