<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>View Book</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
 
<div class="container">
<div class="row">
<div class="col-md-offset-1">

	<br>
	<br>
	<br>

 <div class="card mb-3" style="max-width: 720px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        th:src="@{(${bookimg})}"
        alt="..."
        width = "200px"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a th:href="@{/books}">Back to Book List</a>
        <br/><br/>
		        <div th:if="${book}">
		            <table border="0">
		                <tr>
		                    <td>ID</td>
		                    <td>:</td>
		                    <td th:utext="${book.id}">...</td>
		                </tr>
		                <tr>
		                    <td>Name</td>
		                    <td>:</td>
		                    <td th:utext="${book.name}">...</td>
		                </tr>
		                <tr>
		                    <td>Author</td>
		                    <td>:</td>
		                    <td th:utext="${book.author}">...</td>
		                </tr>
		                <tr>
		                    <td>Notes</td>
		                    <td>:</td>
		                    <td th:utext="${book.note}">...</td>
		                </tr>
		            </table>
		            <br/><br/>
		            <div th:if="not ${allowDelete}">
		                <a th:href="@{/books/{bookId}/edit(bookId=${book.id})}">Edit</a> |
		                <a th:href="@{/books/{bookId}/delete(bookId=${book.id})}">Delete</a> |
		                <a th:href="@{/books/{bookId}/read(bookId=${book.id})}">Read</a>
		            </div>
		            <form th:if="${allowDelete}" th:action="@{/books/{bookId}/delete(bookId=${book.id})}" method="POST">
		                Delete this book? <input type="submit" th:value="Yes" />
		            </form>
		        </div>
		        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />  
      
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>   

    </body>
</html>